<aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a routerLink="#">
                <img src="../../assets/admin/images/icon/logo.png" alt="Cool Admin" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">

                    <li>
                        <a routerLink="default">
                            <i class="fas fa-chart-bar"></i>Home</a>
                    </li>
                    <li>
                      <a routerLink="addbanner">
                          <i class="far fa-check-square"></i>addbanner</a>
                  </li>
                  <li>
                    <a routerLink="banner">
                        <i class="far fa-check-square"></i>banner</a>
                </li>
                    <li>
                        <a routerLink="addcat">
                            <i class="fas fa-table"></i>add Category</a>
                    </li>
                    <li>
                        <a routerLink="cat">
                            <i class="far fa-check-square"></i>Category</a>
                    </li>
                    <li>
                        <a routerLink="addproduct">
                            <i class="fas fa-calendar-alt"></i>Add Product</a>
                    </li>
                    <li>
                        <a routerLink="product">
                            <i class="fas fa-map-marker-alt"></i>Product</a>
                    </li>
                    <li>
                            <a routerLink="order">
                                <i class="fas fa-calendar-alt"></i>Order</a>
                        </li>
                        <li>
                                <a routerLink="feedback">
                                    <i class="fas fa-calendar-alt"></i>FeedBack</a>
                            </li>

                </ul>
            </nav>
        </div>
    </aside>
